<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="me.weicools.screen">
  
  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    <activity android:name=".FullscreenActivity"
              android:theme="@style/AppThemeNoBar"/>
    <activity
      android:name=".ImmersiveActivity"
      android:theme="@style/AppThemeNoBar" />
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".NonAdaptActivity"
      android:theme="@style/AppThemeNoBar"
      android:label="仅使用dp适配" />
    <activity
      android:name=".SmallWidthActivity"
      android:label="最小宽度限定符适配" />
    <activity
      android:name=".WidthHeightActivity"
      android:label="宽高限定符适配" />
  </application>

</manifest>